<p-card [style]="{ width: '360px' }">
    <div>
        <h1>{{ formTitle }}</h1>
    </div>
    <div>
        <p>Latitude:</p>
        <p-inputNumber [(ngModel)]="customPoint.latitude" [maxFractionDigits]="8" [min]="-90" [max]="90" [style]="{ width: '320px' }">
        </p-inputNumber>
    </div>
    <div>
        <p>Longitude:</p>
        <p-inputNumber [(ngModel)]="customPoint.longitude" [maxFractionDigits]="8" [min]="-180" [max]="180" [style]="{ width: '320px' }">
        </p-inputNumber>
    </div>
    <div style="text-align: center;">
        <br>
        <p-button label="Locate" (click)="onClickLocateButton()" [style]="{ width: '150px' }"></p-button>
    </div>
</p-card>