<div class="col">
    <div class="card" style="width: 55vw;">
        <div #mapPanel class="map"></div>
    </div>
</div>
<div class="col">
    <div class="card" style="width: 42vw;">
        <p-table [value]="states" selectionMode="single" [(selection)]="selectedState" dataKey="attributes.state_name"
            (click)="onClick()" [scrollable]="true" scrollHeight="97vh" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th>Subregion</th>
                    <th>State Name (Full)</th>
                    <th>State Name (Abbr.)</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-state>
                <tr [pSelectableRow]="state" [ngClass]="{'selected': selectedState == state}">
                    <td>{{ state.attributes.sub_region }}</td>
                    <td>{{ state.attributes.state_name }}</td>
                    <td>{{ state.attributes.state_abbr }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>