.col {
    height: 97vh;
    float: left;
    padding: 5px;
}

th {
    text-align: center;
    background-color: rgb(0 255 240);
}

tr.selected {
    background-color: rgb(0 250 230 / 0.5);
    color: black;
}

.map {
    padding: 5px;
    width: 100%;
    height: 97vh;
}

.card {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}