<div class="col">
    <ul>
        <h1 style="text-align: center;">Beginner</h1>
        <h2>Assignment 1</h2>
        <li><a routerLink="beginner1-1">Assignment 1.1</a></li>
        <li><a routerLink="beginner1-2">Assignment 1.2</a></li>
        <li><a routerLink="beginner1-3">Assignment 1.3</a></li>
        <h2>Assignment2</h2>
        <li><a routerLink="beginner2">Assignment 2</a></li>
        <h2>Assignment3</h2>
        <li><a routerLink="beginner3">Assignment 3</a></li>
        <h2>Assignment4</h2>
        <li><a routerLink="beginner4">Assignment 4</a></li>
    </ul>
</div>
<div class="col">
    <ul>
        <h1 style="text-align: center;">Intermediate</h1>
        <div class="sm-col">
            <h2>Assignment 1</h2>
            <li><a routerLink="intermediate1">Assignment 1</a></li>
            <h2>Assignment 2</h2>
            <li><a routerLink="intermediate2">Assignment 2</a></li>
            <h2>Assignment 4</h2>
            <li><a routerLink="intermediate4">Assignment 4</a></li>
        </div>
        <div class="sm-col">
            <h2>Assignment 5</h2>
            <li><a routerLink="intermediate5">Assignment 5</a></li>
            <h2>Assignment 6</h2>
            <li><a routerLink="intermediate6">Assignment 6</a></li>
            <h2>Assignment 7</h2>
            <li><a routerLink="intermediate7">Assignment 7</a></li>
        </div>
    </ul>
</div>