body,
h1 {
    margin-top: 0px;
}

h2 {
    background-color: #AED6F1;
    color: #21618C;
    font-family: 'Times New Roman', serif;
}

.hightlight-text {
    color: #2874A6;
}

.comic-font {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.hightbold-font {
    font-family: Impact, fantasy;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    padding-left: 3px;
    padding-right: 3px;
}

.text-bold {
    font-weight: bold;
    color: #1A5276;
}

img {
    position: absolute;
    width: 20%;
    height: 40%;
    top: 76.5px;
    right: 0px;
    display: block;
}