<img src="../../assets/dog.jpg">
<h1>Dog D. Dog</h1>
<div>
    <h2>About</h2>
    <p>Woof woof!</p>
    <p>Hi, I'm dog. I love <span class="hightlight-text">User Interface Design.</span></p>
</div>
<div>
    <h2>Courses</h2>
    <p>Here are some courses I've taken:</p>
    <table>
        <tr>
            <th>Course Number</th>
            <th>Course Title</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <th colspan="3">For Credit</th>
        </tr>
        <tr>
            <td class="text-bold">6.813</td>
            <td><span class="hightlight-text">User Interface Design</span></td>
            <td><span class="hightlight-text">Spring 2014</span></td>
        </tr>
        <tr>
            <td class="text-bold">6.034</td>
            <td>Artificial Intelligence</td>
            <td>Fall 2013</td>
        </tr>
        <tr>
            <td class="text-bold">6.006</td>
            <td>Introduction to Algorithms</td>
            <td>Fall 2013</td>
        </tr>
        <tr>
            <th colspan="3">Listener</th>
        </tr>
        <tr>
            <td class="text-bold">6.867</td>
            <td>Machine Learning</td>
            <td>Fall 2013</td>
        </tr>
        <tr>
            <td class="text-bold">6.830</td>
            <td>Database Systems</td>
            <td>Fall 2012</td>
        </tr>
    </table>
</div>
<div>
    <h2>Interests</h2>
    <p>I am interested <span class="hightbold-font">HCI</span>, <span class="comic-font">memes</span>, and <span
            class="comic-font">youtube videos</span>.</p>
</div>
<div>
    <h2>Submit Pet Information</h2>
    <p>Would love to know what kinds of pets you 'own' (you'll never own me). Submit below!</p>
    <p>Name:
        <input type="text">
    </p>
    <p>Phylum:
        <input type="text">
    </p>
    <p>Gender:
        <input type="text">
    </p>
    <input type="button" value="Submit">
</div>