<div class="col">
    <div class="card" style="width: 55vw;">
        <div #mapPanel class="map"></div>
    </div>
</div>
<div class="col">
    <div class="card" style="width: 42vw;height: 98vh;">
        <p-table [value]="citiePaths" selectionMode="single" [(selection)]="selectedCitie"
            dataKey="attributes.FacilityID" (click)="onClick()" [scrollable]="true" scrollHeight="98vh">
            <ng-template pTemplate="body" let-citiePath>
                <div class="button">
                    <tr [pSelectableRow]="citiePath">
                        <td [ngClass]="{'selected': selectedCitie == citiePath}">
                            {{citiePath.attributes.Name.substring(13)}}
                        </td>
                    </tr>
                </div>
            </ng-template>
        </p-table>
    </div>
</div>