.col {
    height: 97vh;
    float: left;
    padding: 5px;
}

.button {
    height: 100%;
    margin-bottom: 10px;
}

td {
    padding: 10px;
    width: 42vw;
    border-radius: 10px;
    background-color: rgb(0 250 230 / 0.3);
}

td.selected {
    background-color: rgb(0 250 230 / 0.8);
    color: black;
}

.map {
    padding: 5px;
    width: 100%;
    height: 97vh;
}

.card {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}