.container {
    width: 100%;
    height: 50vh;
    display: flex;
}

.topleft {
    flex: 50%;
    background-color: #FF0000;
}

.topright {
    flex: 50%;
    background-color: #008800;
}

.bottomleft {
    flex: 50%;
    background-color: #0000FF;
}

.bottomright {
    flex: 50%;
    background-color: #000000;
}