<style>
    div.borderstyle {
        border: 1px solid black;
        width: 30%;
    }
</style>

<input type="button" [(ngModel)]="time" hidden>
<div class="card flex justify-content-center">
    <p-toast></p-toast>
    <p-confirmDialog #cd [style]="{width: '50vw'}">
        <ng-template pTemplate="header">
            <h3>Submit comment</h3>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger" label="No"
                (click)="cd.reject()"></p-button>
            <p-button icon="pi pi-check" styleClass="p-button-rounded p-button-success" label="Yes"
                (click)="cd.accept()"></p-button>
        </ng-template>
    </p-confirmDialog>
</div>

<div>
    <h1>Comment Simulation</h1>
</div>
<div class="borderstyle">
    <div style="margin: 3px 3px 3px 3px;">
        <h2>New Comment:</h2>
        <p>Name: <input type="text" [(ngModel)]="name" /></p>
        <p>Comment:</p>
        <textarea [(ngModel)]="comment" cols="30" rows="10"></textarea><br>
        <p-button label="Submit" icon="pi pi-check" iconPos="right" styleClass="p-button-rounded p-button-success"
            (click)="confirm(name, comment, time)"></p-button>
    </div>
</div>
<div>
    <h2>Comments</h2>
    <ul>
        <li *ngFor="let cmt of comments;index as i">
            <p>{{cmt.name}} <span style="margin-left: 50px;">{{cmt.time}}</span></p>
            <p>{{cmt.comment}}</p>
            <p-button label="Edit" styleClass="p-button-link p-button-sm" (click)="editComment(i)"></p-button>
            <p-button label="Delete" styleClass="p-button-link p-button-sm" (click)="deleteComment(i)"></p-button>
        </li>
    </ul>
</div>