<div class="col">
    <div class="card" style="width: 55vw;">
        <div #mapPanel class="map"></div>
    </div>
</div>
<div class="col">
    <div class="card" style="width: 42vw;height: 98vh;">
        <div style="margin-bottom: 1em;">
            <button pButton type="button" label="Start Route" (click)="startRoute()" [ngClass]="{'noPoint': points.length == 0}"
                class="p-button-rounded p-button-raised p-button-success"></button>

            <button pButton type="button" label="Clear All" (click)="clearAll()" [ngClass]="{'noPoint': points.length == 0}"
                class="p-button-rounded p-button-raised p-button-danger"></button>
        </div>

        <p-table [value]="paths" [(selection)]="selectedPath" dataKey="attributes.text" selectionMode="single"
            (click)="clickPath()" [scrollable]="true" scrollHeight="84vh">
            <ng-template pTemplate="body" let-path>
                <div class="div-button">
                    <tr [pSelectableRow]="path">
                        <td [ngClass]="{'selected': selectedPath == path}">
                            {{path.attributes.text}}
                        </td>
                    </tr>
                </div>
            </ng-template>
        </p-table>
    </div>
</div>